*,
*:before,
*:after {
    box-sizing: border-box
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #000;
    line-height: 1.5
}
ul, 
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    display: inline-block;
    text-decoration: none;
    color: #000
}
h1,
h2 {
    margin: 0 0 50px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 34px;
    font-weight: 400
}
h1 {
    font-family: "Exo 2", sans-serif;
    font-size: 40px
}
h3 {
    margin: 0 0 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 20px
}
p {
    padding: 0
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px
}
/* Header */
.header__inner {
    min-height: 100vh;
    padding: 100px 0 0
}
.header__logo {
    margin: 0 auto 20px;
    max-width: 650px;
    width: 100%
}
.header__title {
    text-align: center;
    color: #545758
}
/* Services */
.services__inner {
    margin: 0 -5px;
}
.services__item-wrap {
    display: inline-block;
    margin: 0 0 10px;
    padding: 0 5px;    
    width: 25%
    
}
.services__item {
    position: relative;
    padding: 92px 0 88px;
    text-align: center;
    background: #fafafa;
    border: 1px solid #808080;
    box-shadow:0 0 7px rgba(25,17,34,.1)
}
.services__icon-wrap {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    width: 40px;
    height: 40px;
    z-index: 100
}
.services__icon-wrap svg {
    fill: #f9516a
}
.services__price {
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin: 0;
    padding: 10px 20px;
    color: #fff;
    background: #f9516a;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
/* Portfolio */
.portfolio__inner {
    position: relative;
    padding: 100px 0 0;
    margin: 0 0 100px;
    overflow: hidden
}
.portfolio__box {
    width: 50%;
}
.portfolio__item {
    position: relative;
    display: inline-block;
    max-width: 400px;
    width: 50%;
    background: #F9F9F9;
    overflow: hidden
}
.portfolio__item img, .portfolio__item-mask {
    height: auto;
    vertical-align: top;
    transition: all ease-in-out 1s;
    -webkit-transition: all ease-in-out 1s;
    -moz-transition: all ease-in-out 1s;
    -ms-transition: all ease-in-out 1s;
    -o-transition: all ease-in-out 1s;
}
.portfolio__item img {
    transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -ms-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
}
.portfolio__item:hover {
    filter:none;
    -ms-filter:none;
    -webkit-filter:none
}
.portfolio__item img {
    max-width: 100%;
    filter:grayscale(100%);
    -ms-filter:grayscale(100%);
    -webkit-filter:grayscale(1);
    transform: scale(1,1) rotate(0deg);
    -webkit-transform: scale(1,1) rotate(0deg);
    -moz-transform: scale(1,1) rotate(0deg);
    -ms-transform: scale(1,1) rotate(0deg);
    -o-transform: scale(1,1) rotate(0deg);
}
.portfolio__item:hover img {
    filter:none;
    -ms-filter:none;
    -webkit-filter:none;
    transform: scale(1.5,1.5) rotate(-6deg);
    -webkit-transform: scale(1.5,1.5) rotate(-6deg);
    -moz-transform: scale(1.5,1.5) rotate(-6deg);
    -ms-transform: scale(1.5,1.5) rotate(-6deg);
    -o-transform: scale(1.5,1.5) rotate(-6deg);
}
.portfolio__item:hover .portfolio__item-mask {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    opacity: 1
}
.portfolio__item-mask {
    position: absolute;
    top: 0;
    padding: 5px 0;
    width: 100%;
    font-weight: 700;
    color: #F9516A;
    text-transform: uppercase;
    text-align: center;
    background: rgb(0,0,0,.7);
    opacity: 0
}
.portfolio__item-mask, .portfolio__item-mask span {
    display: block
}
.portfolio__item-mask span {
    font-weight: 400;
    color: #fff
}
.portfolio__item-mask span + span {
    margin-top: 5px
}
.portfolio__title {
    position: absolute;
    margin: 0;
    padding-left: 150px;
    width: 100%;
    height: 100%;
    left: 50%;
    font-size: 70px;
    text-transform: uppercase;
    background: url("img/portfolio-bg.png") no-repeat
}
.portfolio__title span:nth-child(2) {
    display: block;
    font-weight: 700
}
.portfolio__title span:nth-child(3) {
    display: none
}
/* Contacts */
.contacts__inner {
    padding-bottom: 50px;
    text-align: center
}
.contacts__title {
    position: relative;
    font-size: 70px;
    text-transform: uppercase
}
.contacts__title:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 150px;
    height: 2px;
    background: #000;
}
.contacts a {
    position: relative;
    font-size: 24px;
    transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s
}
.contacts a + a {
    margin-left: 50px
}
.contacts__phone {
    padding-left: 25px
}
.contacts__email {
    padding-left: 30px
}
.contacts__phone:hover, .contacts__email:hover {
    color: #ccc
}
.contacts__phone:before, .contacts__email:before {
    position: absolute;
    top: 2px;
    left: 0; 
    color: #F9516A
}
.contacts .contacts__phone:before {
    content: "\f095";
    font-family: 'icomoon'
}
.contacts .contacts__email:before {
    content: "\f0e0";
    font-family: 'icomoon'
}
.contacts__mess-wrap {
    margin-top: 50px
}
.contacts__whatsapp,
.contacts__telegram,
.contacts__skype {
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background: #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%
}
.contacts__whatsapp:hover,
.contacts__telegram:hover,
.contacts__skype:hover {
    background: #303030
}
.contacts .contacts__whatsapp:before {
    content: "\f232";
    font-family: 'icomoon'
}
.contacts .contacts__telegram:before {
    content: "\f2c6";
    font-family: 'icomoon'
}
.contacts .contacts__skype:before {
    content: "\f17e";
    font-family: 'icomoon'
}
/* Media queries */
@media (max-width: 1024px){
.header__logo {
    max-width: 450px
}
.header__title {
    font-size: 28px
}
}
@media (max-width: 768px){
.header__inner {
    padding-top: 50px
}
.services__inner {
    margin: 0
}
.services__item-wrap {
    padding: 0;
    width: 50%
}
.services__item-wrap:nth-child(even) {
    padding-left: 10px
}
.portfolio__title{
    padding-left: 50px;
    font-size: 50px
}
}
@media (max-width: 480px){
.header__logo {
    max-width: 285px
}
.header__title {
    padding: 0 15px;
    font-size: 22px
}
.services__item-wrap {
    margin-bottom: 15px;
    width: 100%
}
.services__item-wrap:nth-child(even) {
    padding: 0
}
.services__item h3 {
    font-size: 24px
}
.portfolio__inner {
    padding-top: 50px;
    margin-bottom: 50px
}
.portfolio__box, .portfolio__item {
    width: 100%
}
.portfolio__item {
    margin: 0 auto;
    display: block
}
.portfolio__title {
    position: relative;
    left: 0;
    margin-bottom: 50px;
    padding-left: 0;
    text-align: center;
    background: none

}
.portfolio__title:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 150px;
    height: 2px;
    background: #000;
}
.portfolio__title span:nth-child(1), .portfolio__title span:nth-child(2) {
    display: none
}
.portfolio__title span:nth-child(3) {
    display: block
}
.contacts .contacts__email {
    margin: 15px 0 0
}
.contacts__title{
    font-size: 50px
}
.portfolio__item + .portfolio__item {
    border-top: 5px solid #F9516A
}
}
